@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i");
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* line 3, node_modules/tyfy/source/scss/essential/_normalize.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 7, node_modules/tyfy/source/scss/essential/_normalize.scss */
body {
  margin: 0; }

/* line 10, node_modules/tyfy/source/scss/essential/_normalize.scss */
pre {
  font-family: "Overpass Mono", monospace;
  font-size: 1.125rem; }

/* line 14, node_modules/tyfy/source/scss/essential/_normalize.scss */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

/* line 18, node_modules/tyfy/source/scss/essential/_normalize.scss */
b,
strong {
  font-weight: inherit; }

/* line 22, node_modules/tyfy/source/scss/essential/_normalize.scss */
b,
strong {
  font-weight: bolder; }

/* line 26, node_modules/tyfy/source/scss/essential/_normalize.scss */
code,
kbd,
samp {
  font-family: "Overpass Mono", monospace;
  font-size: 1.125rem; }

/* line 32, node_modules/tyfy/source/scss/essential/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 39, node_modules/tyfy/source/scss/essential/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 42, node_modules/tyfy/source/scss/essential/_normalize.scss */
sup {
  top: -0.5em; }

/* line 45, node_modules/tyfy/source/scss/essential/_normalize.scss */
img {
  border-style: none; }

/* line 48, node_modules/tyfy/source/scss/essential/_normalize.scss */
button,
input {
  overflow: visible; }

/* line 52, node_modules/tyfy/source/scss/essential/_normalize.scss */
button,
select {
  text-transform: none; }

/* line 56, node_modules/tyfy/source/scss/essential/_normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/* line 62, node_modules/tyfy/source/scss/essential/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/* line 69, node_modules/tyfy/source/scss/essential/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/* line 75, node_modules/tyfy/source/scss/essential/_normalize.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/* line 78, node_modules/tyfy/source/scss/essential/_normalize.scss */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  /* 3 */
  white-space: normal; }

/* line 86, node_modules/tyfy/source/scss/essential/_normalize.scss */
textarea {
  overflow: auto; }

/* line 89, node_modules/tyfy/source/scss/essential/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 94, node_modules/tyfy/source/scss/essential/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 98, node_modules/tyfy/source/scss/essential/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

/* line 102, node_modules/tyfy/source/scss/essential/_normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 106, node_modules/tyfy/source/scss/essential/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/* line 110, node_modules/tyfy/source/scss/essential/_normalize.scss */
[hidden] {
  display: none; }

/* line 1, node_modules/tyfy/source/scss/essential/_body.scss */
html {
  font-size: 100%; }

/* line 4, node_modules/tyfy/source/scss/essential/_body.scss */
body {
  background: white;
  color: #32312D;
  font-family: "Montserrat", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 2rem; }

/* line 2, node_modules/tyfy/source/scss/essential/_spacing.scss */
* {
  margin-top: 0;
  margin-bottom: 0; }

/* line 72, node_modules/tyfy/source/scss/required/_mixins.scss */
body * + * {
  margin-top: 2rem; }

/* line 60, node_modules/tyfy/source/scss/required/_mixins.scss */
body dl * + *, body ol * + *, body ul * + * {
  margin-top: 1rem; }

/* line 65, node_modules/tyfy/source/scss/required/_mixins.scss */
body dl * + dd {
  margin-top: 0; }

/* line 48, node_modules/tyfy/source/scss/required/_mixins.scss */
body :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h1,
body :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h2,
body :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h3,
body :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h4,
body :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h5,
body :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h6 {
  margin-top: 3rem; }

/* line 11, node_modules/tyfy/source/scss/essential/_spacing.scss */
hr {
  margin-bottom: 3rem;
  margin-top: 3rem; }

/* line 72, node_modules/tyfy/source/scss/required/_mixins.scss */
.sibling-margins-on * + * {
  margin-top: 2rem; }

/* line 60, node_modules/tyfy/source/scss/required/_mixins.scss */
.sibling-margins-on dl * + *, .sibling-margins-on ol * + *, .sibling-margins-on ul * + * {
  margin-top: 1rem; }

/* line 65, node_modules/tyfy/source/scss/required/_mixins.scss */
.sibling-margins-on dl * + dd {
  margin-top: 0; }

/* line 48, node_modules/tyfy/source/scss/required/_mixins.scss */
.sibling-margins-on :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h1,
.sibling-margins-on :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h2,
.sibling-margins-on :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h3,
.sibling-margins-on :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h4,
.sibling-margins-on :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h5,
.sibling-margins-on :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h6 {
  margin-top: 3rem; }

/* line 72, node_modules/tyfy/source/scss/required/_mixins.scss */
.sibling-margins-off * + * {
  margin-top: 0rem; }

/* line 60, node_modules/tyfy/source/scss/required/_mixins.scss */
.sibling-margins-off dl * + *, .sibling-margins-off ol * + *, .sibling-margins-off ul * + * {
  margin-top: 0rem; }

/* line 65, node_modules/tyfy/source/scss/required/_mixins.scss */
.sibling-margins-off dl * + dd {
  margin-top: 0; }

/* line 48, node_modules/tyfy/source/scss/required/_mixins.scss */
.sibling-margins-off :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h1,
.sibling-margins-off :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h2,
.sibling-margins-off :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h3,
.sibling-margins-off :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h4,
.sibling-margins-off :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h5,
.sibling-margins-off :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h6 {
  margin-top: 0rem; }

/* line 2, node_modules/tyfy/source/scss/optional/_paragraphs.scss */
.paragraphs-justified p,
p.justified {
  -webkit-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-before: 3;
  text-align: justify; }

/* line 11, node_modules/tyfy/source/scss/optional/_paragraphs.scss */
p.lede {
  font-size: 1.53134rem;
  line-height: 2rem; }

@media (min-width: 50em) {
  /* line 15, node_modules/tyfy/source/scss/optional/_paragraphs.scss */
  .cols-2 {
    columns: 2;
    column-gap: 3rem; } }

/* line 2, node_modules/tyfy/source/scss/optional/_headings.scss */
.font-size-h6 {
  font-size: 1.125rem; }

/* line 5, node_modules/tyfy/source/scss/optional/_headings.scss */
.font-size-h5 {
  font-size: 1.31254rem; }

/* line 8, node_modules/tyfy/source/scss/optional/_headings.scss */
.font-size-h4 {
  font-size: 1.53134rem; }

/* line 11, node_modules/tyfy/source/scss/optional/_headings.scss */
.font-size-h3 {
  font-size: 1.78661rem; }

/* line 14, node_modules/tyfy/source/scss/optional/_headings.scss */
.font-size-h2 {
  font-size: 2.08444rem; }

/* line 17, node_modules/tyfy/source/scss/optional/_headings.scss */
.font-size-h1 {
  font-size: 2.83732rem; }

/* line 22, node_modules/tyfy/source/scss/optional/_headings.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3c3b38;
  font-family: "Montserrat", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700; }

/* line 32, node_modules/tyfy/source/scss/optional/_headings.scss */
h1 {
  font-size: 2.83732rem;
  line-height: 3rem; }

/* line 36, node_modules/tyfy/source/scss/optional/_headings.scss */
h2 {
  font-size: 2.08444rem;
  line-height: 3rem; }

/* line 40, node_modules/tyfy/source/scss/optional/_headings.scss */
h3 {
  font-size: 1.78661rem;
  line-height: 2rem; }

/* line 44, node_modules/tyfy/source/scss/optional/_headings.scss */
h4 {
  font-size: 1.53134rem;
  line-height: 2rem; }

/* line 48, node_modules/tyfy/source/scss/optional/_headings.scss */
h5 {
  font-size: 1.31254rem;
  font-style: italic;
  line-height: 2rem; }

/* line 53, node_modules/tyfy/source/scss/optional/_headings.scss */
h6 {
  font-size: 1.125rem;
  letter-spacing: 0.05em;
  line-height: 2rem;
  text-transform: uppercase; }

/* line 1, node_modules/tyfy/source/scss/optional/_links.scss */
a {
  color: #32312D;
  text-decoration: none;
  transition-duration: 0.25s;
  transition-property: background-color,border-color,color; }
  /* line 6, node_modules/tyfy/source/scss/optional/_links.scss */
  a[href] {
    border-bottom-color: rgba(255, 80, 91, 0.5);
    color: #ff505b; }
    /* line 9, node_modules/tyfy/source/scss/optional/_links.scss */
    a[href]:hover, a[href]:active {
      border-bottom-color: rgba(97, 163, 31, 0.5);
      color: #61a31f; }
  /* line 15, node_modules/tyfy/source/scss/optional/_links.scss */
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: #3c3b38; }
    /* line 22, node_modules/tyfy/source/scss/optional/_links.scss */
    h1 a[href],
    h2 a[href],
    h3 a[href],
    h4 a[href],
    h5 a[href],
    h6 a[href] {
      border-bottom-color: rgba(60, 59, 56, 0.5);
      color: #3c3b38; }
      /* line 25, node_modules/tyfy/source/scss/optional/_links.scss */
      h1 a[href]:hover, h1 a[href]:active,
      h2 a[href]:hover,
      h2 a[href]:active,
      h3 a[href]:hover,
      h3 a[href]:active,
      h4 a[href]:hover,
      h4 a[href]:active,
      h5 a[href]:hover,
      h5 a[href]:active,
      h6 a[href]:hover,
      h6 a[href]:active {
        border-bottom-color: rgba(97, 163, 31, 0.5);
        color: #61a31f; }
  /* line 33, node_modules/tyfy/source/scss/optional/_links.scss */
  .links-underlined a[href] {
    border-bottom-style: solid;
    border-bottom-width: 2px; }
  /* line 38, node_modules/tyfy/source/scss/optional/_links.scss */
  a[href].button {
    background-color: #ff505b;
    border-radius: 0.25rem;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    transition: background-color 0.25s, box-shadow 0.25s; }
    /* line 123, node_modules/tyfy/source/scss/required/_mixins.scss */
    a[href].button:link, a[href].button:visited, a[href].button:hover, a[href].button:active {
      border: none !important;
      color: #fff;
      text-decoration: none; }
    /* line 131, node_modules/tyfy/source/scss/required/_mixins.scss */
    a[href].button:hover {
      background-color: #61a31f;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
      filter: progid:dximagetransform.microsoft.gradient(startColorstr="#00000000",endColorstr="#1a000000",GradientType=0); }
    /* line 136, node_modules/tyfy/source/scss/required/_mixins.scss */
    a[href].button:active {
      background-color: #61a31f;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset; }
    /* line 140, node_modules/tyfy/source/scss/required/_mixins.scss */
    a[href].button:focus {
      outline: none; }

/* line 2, node_modules/tyfy/source/scss/optional/_lists.scss */
ol,
ul {
  padding-left: 3rem; }

/* line 6, node_modules/tyfy/source/scss/optional/_lists.scss */
dt {
  font-weight: 700; }

/* line 9, node_modules/tyfy/source/scss/optional/_lists.scss */
dd {
  margin-left: 0;
  margin-right: 0;
  padding-left: 3rem; }

/* line 17, node_modules/tyfy/source/scss/optional/_lists.scss */
ol ol, ol ul, ul ol, ul ul {
  margin-top: 1rem; }

/* line 22, node_modules/tyfy/source/scss/optional/_lists.scss */
.sibling-margins-off ol ol, .sibling-margins-off ol ul, ol.sibling-margins-off ol, ol.sibling-margins-off ul, .sibling-margins-off ul ol, .sibling-margins-off ul ul, ul.sibling-margins-off ol, ul.sibling-margins-off ul {
  margin-top: 0; }

/* line 31, node_modules/tyfy/source/scss/optional/_lists.scss */
ul.list-icons li {
  list-style-type: none;
  position: relative; }
  /* line 34, node_modules/tyfy/source/scss/optional/_lists.scss */
  ul.list-icons li::before {
    color: #a3a2a1;
    font-family: tyfyicons;
    margin-right: 0.5rem;
    position: absolute;
    right: 100%;
    top: 0; }

/* line 43, node_modules/tyfy/source/scss/optional/_lists.scss */
ul.list-icons.list-icons-angle li::before {
  content: "\ea03"; }

/* line 47, node_modules/tyfy/source/scss/optional/_lists.scss */
ul.list-nobullet {
  padding-left: 0; }
  /* line 49, node_modules/tyfy/source/scss/optional/_lists.scss */
  ul.list-nobullet li {
    list-style-type: none; }
  /* line 53, node_modules/tyfy/source/scss/optional/_lists.scss */
  ul.list-nobullet.list-indented li {
    box-sizing: border-box;
    padding-left: 3rem;
    text-indent: -3rem; }
  /* line 58, node_modules/tyfy/source/scss/optional/_lists.scss */
  ul.list-nobullet.list-indented ol, ul.list-nobullet.list-indented ul {
    margin-left: -3rem; }
  @media (min-width: 35em) {
    /* line 68, node_modules/tyfy/source/scss/optional/_lists.scss */
    ul.list-nobullet.list-cols-2 li, ul.list-nobullet.list-cols-3 li, ul.list-nobullet.list-grid-2 li, ul.list-nobullet.list-grid-3 li, ul.list-nobullet.list-grid-4 li {
      margin-left: 0; } }

/* line 74, node_modules/tyfy/source/scss/optional/_lists.scss */
ul.list-flex {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0; }
  /* line 72, node_modules/tyfy/source/scss/required/_mixins.scss */
  ul.list-flex * + * {
    margin-top: 0rem; }
  /* line 60, node_modules/tyfy/source/scss/required/_mixins.scss */
  ul.list-flex dl * + *, ul.list-flex ol * + *, ul.list-flex ul * + * {
    margin-top: 0rem; }
  /* line 65, node_modules/tyfy/source/scss/required/_mixins.scss */
  ul.list-flex dl * + dd {
    margin-top: 0; }
  /* line 48, node_modules/tyfy/source/scss/required/_mixins.scss */
  ul.list-flex :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h1,
  ul.list-flex :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h2,
  ul.list-flex :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h3,
  ul.list-flex :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h4,
  ul.list-flex :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h5,
  ul.list-flex :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h6 {
    margin-top: 0rem; }
  /* line 79, node_modules/tyfy/source/scss/optional/_lists.scss */
  ul.list-flex li {
    margin-left: 3rem; }
  /* line 82, node_modules/tyfy/source/scss/optional/_lists.scss */
  ul.list-flex.list-flex-center {
    justify-content: center; }
  /* line 85, node_modules/tyfy/source/scss/optional/_lists.scss */
  ul.list-flex.list-flex-right {
    justify-content: flex-end; }
  /* line 89, node_modules/tyfy/source/scss/optional/_lists.scss */
  ul.list-flex.list-nobullet li {
    margin-left: 0; }

@media (min-width: 35em) {
  /* line 99, node_modules/tyfy/source/scss/optional/_lists.scss */
  ol.list-cols-2, ol.list-cols-3,
  ul.list-cols-2,
  ul.list-cols-3 {
    columns: 2;
    column-gap: 3rem;
    margin-bottom: -1rem;
    padding-left: 0; }
    /* line 72, node_modules/tyfy/source/scss/required/_mixins.scss */
    ol.list-cols-2 * + *, ol.list-cols-3 * + *,
    ul.list-cols-2 * + *,
    ul.list-cols-3 * + * {
      margin-top: 0rem; }
    /* line 60, node_modules/tyfy/source/scss/required/_mixins.scss */
    ol.list-cols-2 dl * + *, ol.list-cols-2 ol * + *, ol.list-cols-2 ul * + *, ol.list-cols-3 dl * + *, ol.list-cols-3 ol * + *, ol.list-cols-3 ul * + *,
    ul.list-cols-2 dl * + *,
    ul.list-cols-2 ol * + *,
    ul.list-cols-2 ul * + *,
    ul.list-cols-3 dl * + *,
    ul.list-cols-3 ol * + *,
    ul.list-cols-3 ul * + * {
      margin-top: 0rem; }
    /* line 65, node_modules/tyfy/source/scss/required/_mixins.scss */
    ol.list-cols-2 dl * + dd, ol.list-cols-3 dl * + dd,
    ul.list-cols-2 dl * + dd,
    ul.list-cols-3 dl * + dd {
      margin-top: 0; }
    /* line 48, node_modules/tyfy/source/scss/required/_mixins.scss */
    ol.list-cols-2 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h1,
    ol.list-cols-2 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h2,
    ol.list-cols-2 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h3,
    ol.list-cols-2 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h4,
    ol.list-cols-2 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h5,
    ol.list-cols-2 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h6, ol.list-cols-3 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h1,
    ol.list-cols-3 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h2,
    ol.list-cols-3 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h3,
    ol.list-cols-3 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h4,
    ol.list-cols-3 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h5,
    ol.list-cols-3 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h6,
    ul.list-cols-2 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h1,
    ul.list-cols-2 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h2,
    ul.list-cols-2 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h3,
    ul.list-cols-2 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h4,
    ul.list-cols-2 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h5,
    ul.list-cols-2 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h6,
    ul.list-cols-3 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h1,
    ul.list-cols-3 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h2,
    ul.list-cols-3 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h3,
    ul.list-cols-3 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h4,
    ul.list-cols-3 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h5,
    ul.list-cols-3 :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h6 {
      margin-top: 0rem; }
    /* line 107, node_modules/tyfy/source/scss/optional/_lists.scss */
    ol.list-cols-2 li, ol.list-cols-3 li,
    ul.list-cols-2 li,
    ul.list-cols-3 li {
      break-inside: avoid;
      margin-left: 3rem;
      padding-bottom: 1rem; }
    /* line 116, node_modules/tyfy/source/scss/optional/_lists.scss */
    ol.list-cols-2.sibling-margins-off li,
    .sibling-margins-off ol.list-cols-2 li, ol.list-cols-3.sibling-margins-off li,
    .sibling-margins-off ol.list-cols-3 li,
    ul.list-cols-2.sibling-margins-off li,
    .sibling-margins-off
    ul.list-cols-2 li,
    ul.list-cols-3.sibling-margins-off li,
    .sibling-margins-off
    ul.list-cols-3 li {
      padding-bottom: 0; } }

@media (min-width: 55em) {
  /* line 122, node_modules/tyfy/source/scss/optional/_lists.scss */
  ol.list-cols-3,
  ul.list-cols-3 {
    columns: 3; } }

@media (min-width: 35em) {
  /* line 128, node_modules/tyfy/source/scss/optional/_lists.scss */
  ol.list-grid-2, ol.list-grid-3, ol.list-grid-4,
  ul.list-grid-2,
  ul.list-grid-3,
  ul.list-grid-4 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0; }
    /* line 135, node_modules/tyfy/source/scss/optional/_lists.scss */
    ol.list-grid-2 li, ol.list-grid-3 li, ol.list-grid-4 li,
    ul.list-grid-2 li,
    ul.list-grid-3 li,
    ul.list-grid-4 li {
      box-sizing: border-box;
      margin-left: 3rem;
      width: calc(50% - 3rem - 1.5rem); }
      /* line 139, node_modules/tyfy/source/scss/optional/_lists.scss */
      ol.list-grid-2 li:nth-child(2), ol.list-grid-3 li:nth-child(2), ol.list-grid-4 li:nth-child(2),
      ul.list-grid-2 li:nth-child(2),
      ul.list-grid-3 li:nth-child(2),
      ul.list-grid-4 li:nth-child(2) {
        margin-top: 0; }
      /* line 142, node_modules/tyfy/source/scss/optional/_lists.scss */
      ol.list-grid-2 li:nth-child(2n+1), ol.list-grid-3 li:nth-child(2n+1), ol.list-grid-4 li:nth-child(2n+1),
      ul.list-grid-2 li:nth-child(2n+1),
      ul.list-grid-3 li:nth-child(2n+1),
      ul.list-grid-4 li:nth-child(2n+1) {
        margin-right: 3rem; }
    /* line 147, node_modules/tyfy/source/scss/optional/_lists.scss */
    ol.list-grid-2.list-nobullet li, ol.list-grid-3.list-nobullet li, ol.list-grid-4.list-nobullet li,
    ul.list-grid-2.list-nobullet li,
    ul.list-grid-3.list-nobullet li,
    ul.list-grid-4.list-nobullet li {
      width: calc(50% - 1.5rem); } }

@media (min-width: 55em) {
  /* line 156, node_modules/tyfy/source/scss/optional/_lists.scss */
  ol.list-grid-3 li, ol.list-grid-4 li,
  ul.list-grid-3 li,
  ul.list-grid-4 li {
    width: calc(33.33% - 3rem - 2.001rem); }
    /* line 158, node_modules/tyfy/source/scss/optional/_lists.scss */
    ol.list-grid-3 li:nth-child(3), ol.list-grid-4 li:nth-child(3),
    ul.list-grid-3 li:nth-child(3),
    ul.list-grid-4 li:nth-child(3) {
      margin-top: 0; }
    /* line 161, node_modules/tyfy/source/scss/optional/_lists.scss */
    ol.list-grid-3 li:nth-child(2n+1), ol.list-grid-4 li:nth-child(2n+1),
    ul.list-grid-3 li:nth-child(2n+1),
    ul.list-grid-4 li:nth-child(2n+1) {
      margin-right: 0; }
    /* line 164, node_modules/tyfy/source/scss/optional/_lists.scss */
    ol.list-grid-3 li:nth-child(3n+1), ol.list-grid-3 li:nth-child(3n+2), ol.list-grid-4 li:nth-child(3n+1), ol.list-grid-4 li:nth-child(3n+2),
    ul.list-grid-3 li:nth-child(3n+1),
    ul.list-grid-3 li:nth-child(3n+2),
    ul.list-grid-4 li:nth-child(3n+1),
    ul.list-grid-4 li:nth-child(3n+2) {
      margin-right: 3rem; }
  /* line 170, node_modules/tyfy/source/scss/optional/_lists.scss */
  ol.list-grid-3.list-nobullet li, ol.list-grid-4.list-nobullet li,
  ul.list-grid-3.list-nobullet li,
  ul.list-grid-4.list-nobullet li {
    width: calc(33.33% - 2.001rem); } }

@media (min-width: 75em) {
  /* line 178, node_modules/tyfy/source/scss/optional/_lists.scss */
  ol.list-grid-4 li,
  ul.list-grid-4 li {
    width: calc(25% - 3rem - 2.25rem); }
    /* line 180, node_modules/tyfy/source/scss/optional/_lists.scss */
    ol.list-grid-4 li:nth-child(4),
    ul.list-grid-4 li:nth-child(4) {
      margin-top: 0; }
    /* line 183, node_modules/tyfy/source/scss/optional/_lists.scss */
    ol.list-grid-4 li:nth-child(3n+1), ol.list-grid-4 li:nth-child(3n+2),
    ul.list-grid-4 li:nth-child(3n+1),
    ul.list-grid-4 li:nth-child(3n+2) {
      margin-right: 0; }
    /* line 187, node_modules/tyfy/source/scss/optional/_lists.scss */
    ol.list-grid-4 li:nth-child(4n+1), ol.list-grid-4 li:nth-child(4n+2), ol.list-grid-4 li:nth-child(4n+3),
    ul.list-grid-4 li:nth-child(4n+1),
    ul.list-grid-4 li:nth-child(4n+2),
    ul.list-grid-4 li:nth-child(4n+3) {
      margin-right: 3rem; }
  /* line 194, node_modules/tyfy/source/scss/optional/_lists.scss */
  ol.list-grid-4.list-nobullet li,
  ul.list-grid-4.list-nobullet li {
    width: calc(25% - 2.25rem); } }

/* line 1, node_modules/tyfy/source/scss/optional/_utility.scss */
b {
  font-weight: 700; }

/* line 4, node_modules/tyfy/source/scss/optional/_utility.scss */
code {
  background-color: rgba(50, 49, 45, 0.07);
  color: #3a5f8e;
  font-family: "Overpass Mono", monospace;
  padding-left: 0.25em;
  padding-right: 0.25em; }

/* line 11, node_modules/tyfy/source/scss/optional/_utility.scss */
em {
  font-style: italic; }

/* line 14, node_modules/tyfy/source/scss/optional/_utility.scss */
hr {
  border: none;
  border-top: 1px #e6e6e6 solid;
  height: 0; }

/* line 19, node_modules/tyfy/source/scss/optional/_utility.scss */
i {
  font-style: italic; }

/* line 22, node_modules/tyfy/source/scss/optional/_utility.scss */
pre {
  font-family: "Overpass Mono", monospace; }

/* line 25, node_modules/tyfy/source/scss/optional/_utility.scss */
small {
  font-size: 85.71184%; }

/* line 28, node_modules/tyfy/source/scss/optional/_utility.scss */
strong {
  font-weight: 700; }

/* line 32, node_modules/tyfy/source/scss/optional/_utility.scss */
span.dropcap {
  display: inline-block;
  float: left;
  font-size: 400%;
  font-weight: bold;
  line-height: 100%;
  margin: 0 0.25em 0 0.125em;
  text-align: center; }

/* line 41, node_modules/tyfy/source/scss/optional/_utility.scss */
span.smallcaps {
  -webkit-font-feature-settings: "c2sc", "smcp";
          font-feature-settings: "c2sc", "smcp";
  font-variant-caps: all-small-caps;
  font-weight: bolder;
  letter-spacing: 0.05em; }

/* line 48, node_modules/tyfy/source/scss/optional/_utility.scss */
.button {
  background-color: #ff505b;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 0.25s, box-shadow 0.25s; }
  /* line 123, node_modules/tyfy/source/scss/required/_mixins.scss */
  .button:link, .button:visited, .button:hover, .button:active {
    border: none !important;
    color: #fff;
    text-decoration: none; }
  /* line 131, node_modules/tyfy/source/scss/required/_mixins.scss */
  .button:hover {
    background-color: #61a31f;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr="#00000000",endColorstr="#1a000000",GradientType=0); }
  /* line 136, node_modules/tyfy/source/scss/required/_mixins.scss */
  .button:active {
    background-color: #61a31f;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset; }
  /* line 140, node_modules/tyfy/source/scss/required/_mixins.scss */
  .button:focus {
    outline: none; }

/* line 1, node_modules/tyfy/source/scss/optional/_quotes.scss */
blockquote {
  font-style: italic;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem; }
  @media (min-width: 40em) {
    /* line 1, node_modules/tyfy/source/scss/optional/_quotes.scss */
    blockquote {
      margin-left: 3rem;
      margin-right: 3rem; } }
  /* line 11, node_modules/tyfy/source/scss/optional/_quotes.scss */
  blockquote p {
    font-style: italic; }
  /* line 14, node_modules/tyfy/source/scss/optional/_quotes.scss */
  blockquote.pullquote {
    background-color: transparent;
    border: none;
    color: #de4185;
    font-family: "Montserrat", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.53134rem;
    line-height: 2rem;
    margin: 2rem 0 3rem 0;
    position: relative;
    text-align: center; }
    @media (min-width: 40em) {
      /* line 14, node_modules/tyfy/source/scss/optional/_quotes.scss */
      blockquote.pullquote {
        margin-left: 3rem;
        margin-right: 3rem; } }
    /* line 28, node_modules/tyfy/source/scss/optional/_quotes.scss */
    blockquote.pullquote p {
      font-size: 1.53134rem;
      line-height: 2rem; }
    /* line 32, node_modules/tyfy/source/scss/optional/_quotes.scss */
    blockquote.pullquote cite {
      display: block;
      font-size: 0.96426rem;
      font-style: normal;
      line-height: 2rem; }
    /* line 38, node_modules/tyfy/source/scss/optional/_quotes.scss */
    blockquote.pullquote * + cite {
      margin-top: 1rem; }
    /* line 41, node_modules/tyfy/source/scss/optional/_quotes.scss */
    blockquote.pullquote::before {
      color: #e6e6e6;
      content: "\ea0b";
      display: block;
      font-family: tyfyicons;
      font-style: normal;
      font-weight: normal;
      text-align: center; }
    /* line 50, node_modules/tyfy/source/scss/optional/_quotes.scss */
    blockquote.pullquote::after {
      color: #e6e6e6;
      content: "————— \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 —————";
      display: block;
      font-style: normal;
      font-weight: normal;
      left: 0;
      letter-spacing: -0.15em;
      margin-left: -0.075em;
      position: absolute;
      text-align: center;
      top: 0;
      white-space: nowrap;
      width: 100%; }
    @media (min-width: 40em) {
      /* line 65, node_modules/tyfy/source/scss/optional/_quotes.scss */
      blockquote.pullquote.float-left, blockquote.pullquote.float-right {
        box-sizing: border-box;
        text-align: left;
        width: calc(50% - 2rem); } }
    @media (min-width: 40em) {
      /* line 73, node_modules/tyfy/source/scss/optional/_quotes.scss */
      blockquote.pullquote.float-left {
        clear: left;
        float: left;
        margin-left: 0;
        margin-right: 4rem; } }
    @media (min-width: 40em) {
      /* line 81, node_modules/tyfy/source/scss/optional/_quotes.scss */
      blockquote.pullquote.float-right {
        clear: right;
        float: right;
        margin-left: 4rem;
        margin-right: 0; } }

/* line 2, node_modules/tyfy/source/scss/optional/_tables.scss */
table {
  font-variant-numeric: lining-nums tabular-nums;
  -webkit-font-feature-settings: "lnum", "tnum";
          font-feature-settings: "lnum", "tnum"; }

/* line 6, node_modules/tyfy/source/scss/optional/_tables.scss */
th {
  font-family: "Montserrat", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  font-variant-numeric: lining-nums tabular-nums;
  -webkit-font-feature-settings: "lnum", "tnum";
          font-feature-settings: "lnum", "tnum";
  line-height: 2rem;
  text-align: left;
  vertical-align: top; }
  /* line 14, node_modules/tyfy/source/scss/optional/_tables.scss */
  th[scope="col"] {
    vertical-align: bottom; }

/* line 18, node_modules/tyfy/source/scss/optional/_tables.scss */
td {
  font-family: "Montserrat", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  font-variant-numeric: lining-nums tabular-nums;
  -webkit-font-feature-settings: "lnum", "tnum";
          font-feature-settings: "lnum", "tnum";
  line-height: 2rem;
  vertical-align: top; }

/* line 28, node_modules/tyfy/source/scss/optional/_tables.scss */
table.clean {
  border-collapse: collapse;
  width: 100%; }
  /* line 31, node_modules/tyfy/source/scss/optional/_tables.scss */
  table.clean td,
  table.clean th {
    border: none;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  /* line 38, node_modules/tyfy/source/scss/optional/_tables.scss */
  table.clean * + td,
  table.clean * + th {
    padding-left: 1rem; }

/* line 46, node_modules/tyfy/source/scss/optional/_tables.scss */
table.striped td,
table.striped th {
  padding-left: 1rem;
  padding-right: 1rem; }

/* line 52, node_modules/tyfy/source/scss/optional/_tables.scss */
table.striped tr:nth-child(2n) td {
  background-color: whitesmoke; }

/* line 59, node_modules/tyfy/source/scss/optional/_tables.scss */
table.horizontal-rules {
  border-top: 1px #e6e6e6 solid; }
  /* line 61, node_modules/tyfy/source/scss/optional/_tables.scss */
  table.horizontal-rules td,
  table.horizontal-rules th {
    border-bottom: 1px #e6e6e6 solid; }
  /* line 65, node_modules/tyfy/source/scss/optional/_tables.scss */
  table.horizontal-rules th[scope="col"] {
    border-bottom: 2px #e6e6e6 solid; }

/* line 71, node_modules/tyfy/source/scss/optional/_tables.scss */
table.vertical-rules {
  border-left: 1px #e6e6e6 solid; }
  /* line 73, node_modules/tyfy/source/scss/optional/_tables.scss */
  table.vertical-rules td,
  table.vertical-rules th {
    border-right: 1px #e6e6e6 solid;
    padding-left: 1rem;
    padding-right: 1rem; }
  /* line 79, node_modules/tyfy/source/scss/optional/_tables.scss */
  table.vertical-rules th[scope="row"] {
    border-right: 2px #e6e6e6 solid; }

@media (max-width: 29.997em) {
  /* line 86, node_modules/tyfy/source/scss/optional/_tables.scss */
  table.responsive thead,
  table.responsive th {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px !important;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px !important; }
    /* line 32, node_modules/tyfy/source/scss/required/_mixins.scss */
    table.responsive thead.focusable:active, table.responsive thead.focusable:focus,
    table.responsive th.focusable:active,
    table.responsive th.focusable:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto; } }

@media (max-width: 29.997em) {
  /* line 92, node_modules/tyfy/source/scss/optional/_tables.scss */
  table.responsive tbody tr + tr {
    border-top: 1px #e6e6e6 solid; } }

@media (max-width: 29.997em) {
  /* line 97, node_modules/tyfy/source/scss/optional/_tables.scss */
  table.responsive td {
    display: block;
    padding-left: 9rem;
    position: relative; } }

/* line 103, node_modules/tyfy/source/scss/optional/_tables.scss */
table.responsive td .td-label {
  color: #a3a2a1;
  display: block;
  font-family: "Montserrat", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.96426rem;
  left: 0;
  position: absolute;
  vertical-align: top;
  width: 8rem; }
  @media (min-width: 30em) {
    /* line 103, node_modules/tyfy/source/scss/optional/_tables.scss */
    table.responsive td .td-label {
      display: none; } }

@media (min-width: 40em) {
  /* line 121, node_modules/tyfy/source/scss/optional/_tables.scss */
  table.float-left, table.float-right {
    box-sizing: border-box;
    margin-bottom: 1rem;
    width: calc(50% - 2rem); } }

@media (min-width: 40em) {
  /* line 129, node_modules/tyfy/source/scss/optional/_tables.scss */
  table.float-left {
    clear: left;
    float: left;
    margin-right: 4rem; } }

@media (min-width: 40em) {
  /* line 136, node_modules/tyfy/source/scss/optional/_tables.scss */
  table.float-right {
    clear: right;
    float: right;
    margin-left: 4rem; } }

@media (min-width: 40em) {
  /* line 144, node_modules/tyfy/source/scss/optional/_tables.scss */
  table.float-right + table.float-left {
    margin-right: 2rem; } }

@media (min-width: 40em) {
  /* line 149, node_modules/tyfy/source/scss/optional/_tables.scss */
  table.float-left + table.float-right {
    margin-left: 2rem; } }

/* line 1, resources/scss/_header.scss */
header {
  text-align: center; }
  /* line 72, node_modules/tyfy/source/scss/required/_mixins.scss */
  header * + * {
    margin-top: 0rem; }
  /* line 60, node_modules/tyfy/source/scss/required/_mixins.scss */
  header dl * + *, header ol * + *, header ul * + * {
    margin-top: 0rem; }
  /* line 65, node_modules/tyfy/source/scss/required/_mixins.scss */
  header dl * + dd {
    margin-top: 0; }
  /* line 48, node_modules/tyfy/source/scss/required/_mixins.scss */
  header :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h1,
  header :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h2,
  header :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h3,
  header :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h4,
  header :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h5,
  header :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h6 {
    margin-top: 0rem; }
  /* line 4, resources/scss/_header.scss */
  header .supertitle {
    font-size: 1.31254rem;
    line-height: 2rem; }
  /* line 8, resources/scss/_header.scss */
  header h1 {
    background-color: #FF838B;
    -webkit-clip-path: url(#chop);
            clip-path: url(#chop);
    color: white;
    display: inline-block;
    font-weight: normal;
    line-height: 5rem;
    padding: 0 1rem; }
    /* line 16, resources/scss/_header.scss */
    .orange header h1 {
      background-color: #FFB264; }
    /* line 19, resources/scss/_header.scss */
    .yellow header h1 {
      background-color: #D8CD35; }
    /* line 22, resources/scss/_header.scss */
    .green header h1 {
      background-color: #7BCE27; }
    /* line 25, resources/scss/_header.scss */
    .blue header h1 {
      background-color: #92CEFF; }
    /* line 28, resources/scss/_header.scss */
    .purple header h1 {
      background-color: #C8A1FF; }

/* line 1, resources/scss/_article.scss */
article {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem; }
  /* line 5, resources/scss/_article.scss */
  article section + section {
    margin-top: 4rem; }
  /* line 8, resources/scss/_article.scss */
  article h2 {
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    max-width: 45rem; }
    /* line 13, resources/scss/_article.scss */
    .red article h2 {
      color: #FF838B; }
    /* line 16, resources/scss/_article.scss */
    .orange article h2 {
      color: #FFB264; }
    /* line 19, resources/scss/_article.scss */
    .yellow article h2 {
      color: #D8CD35; }
    /* line 22, resources/scss/_article.scss */
    .green article h2 {
      color: #7BCE27; }
    /* line 25, resources/scss/_article.scss */
    .blue article h2 {
      color: #92CEFF; }
    /* line 28, resources/scss/_article.scss */
    .blue article h2 {
      color: #C8A1FF; }
  /* line 32, resources/scss/_article.scss */
  article p,
  article ul {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 45rem; }
  /* line 39, resources/scss/_article.scss */
  article figure {
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding-top: 2rem;
    position: relative; }
    /* line 72, node_modules/tyfy/source/scss/required/_mixins.scss */
    article figure * + * {
      margin-top: 0rem; }
    /* line 60, node_modules/tyfy/source/scss/required/_mixins.scss */
    article figure dl * + *, article figure ol * + *, article figure ul * + * {
      margin-top: 0rem; }
    /* line 65, node_modules/tyfy/source/scss/required/_mixins.scss */
    article figure dl * + dd {
      margin-top: 0; }
    /* line 48, node_modules/tyfy/source/scss/required/_mixins.scss */
    article figure :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h1,
    article figure :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h2,
    article figure :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h3,
    article figure :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h4,
    article figure :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h5,
    article figure :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h6 {
      margin-top: 0rem; }
    /* line 46, resources/scss/_article.scss */
    article figure.position-left {
      float: left;
      padding-bottom: 2rem;
      padding-right: 2rem; }
    /* line 51, resources/scss/_article.scss */
    article figure.position-right {
      float: right;
      padding-bottom: 2rem;
      padding-left: 2rem; }
    /* line 56, resources/scss/_article.scss */
    article figure.size-36 {
      width: calc(36% + (0.56 * 1rem)); }
    /* line 59, resources/scss/_article.scss */
    article figure.size-50 {
      width: 50%; }
    /* line 62, resources/scss/_article.scss */
    article figure.size-64 {
      width: calc(64% - (0.56 * 1rem)); }
    /* line 65, resources/scss/_article.scss */
    article figure.size-limited {
      margin-left: auto;
      margin-right: auto;
      max-width: 45rem; }
    /* line 70, resources/scss/_article.scss */
    article figure.orientation-landscape .imgframe {
      position: relative;
      height: 0;
      padding-top: 75%;
      width: 100%; }
    /* line 76, resources/scss/_article.scss */
    article figure.orientation-portrait .imgframe {
      position: relative;
      height: 0;
      padding-top: 133.33%;
      width: 100%; }
    /* line 82, resources/scss/_article.scss */
    article figure img {
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    /* line 90, resources/scss/_article.scss */
    article figure figcaption {
      color: #9b9990;
      font-size: 0.96426rem;
      line-height: 2rem;
      margin-top: 1rem; }
  /* line 97, resources/scss/_article.scss */
  article hr {
    background: linear-gradient(to right, #FF838B 16%, #FFB264 17%, #FFB264 33%, #D8CD35 34%, #D8CD35 50%, #7BCE27 51%, #7BCE27 67%, #92CEFF 68%, #92CEFF 82%, #C8A1FF 83%);
    border: none;
    border-radius: 2px;
    height: 4px; }
  /* line 103, resources/scss/_article.scss */
  article span.defined {
    border-radius: 0.5rem;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0 0.25rem;
    position: relative; }
    /* line 111, resources/scss/_article.scss */
    .red article span.defined {
      background-color: rgba(216, 205, 53, 0.1);
      border: 1px #D8CD35 dotted; }
    /* line 115, resources/scss/_article.scss */
    .orange article span.defined {
      background-color: rgba(255, 178, 100, 0.1);
      border: 1px #FFB264 dotted; }
    /* line 119, resources/scss/_article.scss */
    .yellow article span.defined {
      background-color: rgba(216, 205, 53, 0.1);
      border: 1px #D8CD35 dotted; }
    /* line 123, resources/scss/_article.scss */
    .green article span.defined {
      background-color: rgba(123, 206, 39, 0.1);
      border: 1px #7BCE27 dotted; }
    /* line 127, resources/scss/_article.scss */
    .blue article span.defined {
      background-color: rgba(146, 206, 255, 0.1);
      border: 1px #92CEFF dotted; }
    /* line 131, resources/scss/_article.scss */
    .purple article span.defined {
      background-color: rgba(255, 178, 100, 0.1);
      border: 1px #FFB264 dotted; }
    /* line 135, resources/scss/_article.scss */
    article span.defined .def {
      border-radius: 0.5rem;
      bottom: calc(100% + 0.5rem);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      color: white;
      display: none;
      font-size: 0.96426rem;
      line-height: 1rem;
      left: 50%;
      margin-left: -5rem;
      padding: 1rem;
      position: absolute;
      text-align: center;
      width: 10rem;
      z-index: 4; }
      /* line 72, node_modules/tyfy/source/scss/required/_mixins.scss */
      article span.defined .def * + * {
        margin-top: 0.5rem; }
      /* line 152, resources/scss/_article.scss */
      .red article span.defined .def {
        background-color: rgba(183, 173, 35, 0.95); }
      /* line 155, resources/scss/_article.scss */
      .purple article span.defined .def {
        background-color: rgba(255, 153, 49, 0.95); }
      /* line 158, resources/scss/_article.scss */
      article span.defined .def span {
        display: block; }
        /* line 160, resources/scss/_article.scss */
        article span.defined .def span.pinyin {
          font-weight: bold; }
    /* line 167, resources/scss/_article.scss */
    article span.defined:hover .def, article span.defined:focus .def {
      display: block; }

/* line 24, resources/scss/style.scss */
body {
  background-image: url(../img/cloud_top.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 8vw; }
