article {
  margin-left:auto;
  margin-right:auto;
  max-width:$limit-body;
  section + section {
    margin-top:grid(4);
  }
  h2 {
    font-weight:normal;
    margin-left:auto;
    margin-right:auto;
    max-width:$limit-text;
    .red & {
      color:$red;
    }
    .orange & {
      color:$orange;
    }
    .yellow & {
      color:$yellow;
    }
    .green & {
      color:$green;
    }
    .blue & {
      color:$blue;
    }
    .blue & {
      color:$purple;
    }
  }
  p,
  ul {
    box-sizing:border-box;
    margin-left:auto;
    margin-right:auto;
    max-width:$limit-text;
  }
  figure {
    @include sibling-margins(off);
    box-sizing:border-box;
    display:block;
    margin:0;
    padding-top:grid(2);
    position:relative;
    &.position-left {
      float:left;
      padding-bottom:grid(2);
      padding-right:grid(2);
    }
    &.position-right {
      float:right;
      padding-bottom:grid(2);
      padding-left:grid(2);
    }
    &.size-36 {
      width:calc(36% + (0.56 * #{grid(1)});
    }
    &.size-50 {
      width:50%;
    }
    &.size-64 {
      width:calc(64% - (0.56 * #{grid(1)});
    }
    &.size-limited {
      margin-left:auto;
      margin-right:auto;
      max-width:$limit-text;
    }
    &.orientation-landscape .imgframe {
      position:relative;
      height:0;
      padding-top:75%;
      width:100%;
    }
    &.orientation-portrait .imgframe {
      position:relative;
      height:0;
      padding-top:133.33%;
      width:100%;
    }
    img {
      display:block;
      height:100%;
      left:0;
      position:absolute;
      top:0;
      width:100%;
    }
    figcaption {
      color:lighten($tyfy-color-foreground,40%);
      font-size:scale(-1);
      line-height:leading(scale(-1),base);
      margin-top:grid(1);
    }
  }
  hr {
    background:linear-gradient(to right,$red 16%,$orange 17%,$orange 33%,$yellow 34%,$yellow 50%,$green 51%,$green 67%,$blue 68%,$blue 82%,$purple 83%);
    border:none;
    border-radius:2px;
    height:4px;
  }
  span[data-def],
  span[data-pinyin] {
    font-family:$tyfy-system;
    .red & {
      background-color:rgba($red,0.1);
      border-bottom:1px $red dotted;
    }
    .orange & {
      background-color:rgba($orange,0.1);
      border-bottom:1px $orange dotted;
    }
    .yellow & {
      background-color:rgba($yellow,0.1);
      border-bottom:1px $yellow dotted;
    }
    .green & {
      background-color:rgba($green,0.1);
      border-bottom:1px $green dotted;
    }
    .blue & {
      background-color:rgba($blue,0.1);
      border-bottom:1px $blue dotted;
    }
    .purple & {
      background-color:rgba($purple,0.1);
      border-bottom:1px $purple dotted;
    }
  }
}