article {
  margin-left:auto;
  margin-right:auto;
  max-width:$limit-body;
  section + section {
    margin-top:grid(4);
  }
  h2 {
    font-weight:normal;
    margin-left:auto;
    margin-right:auto;
    max-width:$limit-text;
    .red & {
      color:$red;
    }
    .orange & {
      color:$orange;
    }
    .yellow & {
      color:$yellow;
    }
    .green & {
      color:$green;
    }
    .blue & {
      color:$blue;
    }
    .blue & {
      color:$purple;
    }
  }
  p,
  ul {
    box-sizing:border-box;
    margin-left:auto;
    margin-right:auto;
    max-width:$limit-text;
  }
  figure {
    @include sibling-margins(off);
    box-sizing:border-box;
    display:block;
    margin:0;
    padding-top:grid(2);
    position:relative;
    &.position-left {
      float:left;
      padding-bottom:grid(2);
      padding-right:grid(2);
    }
    &.position-right {
      float:right;
      padding-bottom:grid(2);
      padding-left:grid(2);
    }
    &.size-36 {
      width:calc(36% + (0.56 * #{grid(1)});
    }
    &.size-50 {
      width:50%;
    }
    &.size-64 {
      width:calc(64% - (0.56 * #{grid(1)});
    }
    &.size-limited {
      margin-left:auto;
      margin-right:auto;
      max-width:$limit-text;
    }
    &.orientation-landscape .imgframe {
      position:relative;
      height:0;
      padding-top:75%;
      width:100%;
    }
    &.orientation-portrait .imgframe {
      position:relative;
      height:0;
      padding-top:133.33%;
      width:100%;
    }
    img {
      display:block;
      height:100%;
      left:0;
      position:absolute;
      top:0;
      width:100%;
    }
    figcaption {
      color:lighten($tyfy-color-foreground,40%);
      font-size:scale(-1);
      line-height:leading(scale(-1),base);
      margin-top:grid(1);
    }
  }
  hr {
    background:linear-gradient(to right,$red 16%,$orange 17%,$orange 33%,$yellow 34%,$yellow 50%,$green 51%,$green 67%,$blue 68%,$blue 82%,$purple 83%);
    border:none;
    border-radius:2px;
    height:4px;
  }
  span.defined {
    border-radius:grid(0.5);
    box-sizing:border-box;
    cursor:pointer;
    display:inline-block;
    margin:0;
    padding:0 grid(0.25);
    position:relative;
    .red & {
      background-color:rgba($yellow,0.1);
      border:1px $yellow dashed;
    }
    .orange & {
      background-color:rgba($green,0.1);
      border:1px $green dashed;
    }
    .yellow & {
      background-color:rgba($blue,0.1);
      border:1px $blue dashed;
    }
    .green & {
      background-color:rgba($purple,0.1);
      border:1px $purple dashed;
    }
    .blue & {
      background-color:rgba($red,0.1);
      border:1px $red dashed;
    }
    .purple & {
      background-color:rgba($orange,0.1);
      border:1px $orange dashed;
    }
    .def {
      @include set-sibling-margins(all,grid(0.5));
      border-radius:grid(0.5);
      bottom:calc(100% + #{grid(0.5)});
      box-shadow:0 1px 3px rgba(0,0,0,0.1);
      box-sizing:border-box;
      color:white;
      display:none;
      font-size:scale(-1);
      line-height:leading(scale(-1),short);
      left:50%;
      margin-left:-5rem;
      padding:grid(1);
      position:absolute;
      text-align:center;
      width:10rem;
      z-index:4;
      .red & {
        @include box-arrow(rgba(darken($yellow,10%),0.95),grid(1));
        background-color:rgba(darken($yellow,10%),0.95);
      }
      .yellow & {
        @include box-arrow(rgba(darken($blue,10%),0.95),grid(1));
        background-color:rgba(darken($blue,10%),0.95);
      }
      .blue & {
        @include box-arrow(rgba(darken($red,10%),0.95),grid(1));
        background-color:rgba(darken($red,10%),0.95);
      }
      .purple & {
        @include box-arrow(rgba(darken($orange,10%),0.95),grid(1));
        background-color:rgba(darken($orange,10%),0.95);
      }
      span {
        display:block;
        &.pinyin {
          font-weight:bold;
        }
      }
    }
    &:hover,
    &:focus {
      .def {
        display:block;
      }
    }
  }
}
.paging {
  @include clearfix;
  @include sibling-margins(off);
  margin-left:auto;
  margin-right:auto;
  max-width:$limit-text;
  .prev {
    float:left;
  }
  .next {
    float:right;
  }
  .fa-2x {
    margin:0 grid(0.5);
    vertical-align:middle;
  }
}