// tyfy overrides
$tyfy-grid-unit:1rem;
$tyfy-font-size-base:1.125rem;
$tyfy-sans:"Raleway",sans-serif;
$tyfy-color-background:white;
$tyfy-color-foreground:#32312D;
$tyfy-font-size-scalar:1.1667;
$tyfy-font-base:$tyfy-sans;
$tyfy-font-heading:$tyfy-sans;
$tyfy-font-pullquote:$tyfy-sans;
$tyfy-font-table:$tyfy-sans;

// colors
$red:#FF838B;
$orange:#FFB264;
$yellow:#D8CD35;
$green:#7BCE27;
$blue:#92CEFF;
$purple:#C8A1FF;