// colors
$red:#FF838B;
$orange:#FFB264;
$yellow:#D8CD35;
$green:#7BCE27;
$blue:#92CEFF;
$purple:#C8A1FF;

// measures
$limit-text:45rem;
$limit-body:80rem;

// tyfy overrides
$tyfy-grid-unit:1rem;
$tyfy-font-size-base:1.125rem;
$tyfy-sans:"Montserrat",Frutiger,"Frutiger Linotype",Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica, Arial,sans-serif;
$tyfy-system:system,-apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",sans-serif;
$tyfy-color-background:white;
$tyfy-color-foreground:#32312D;
$tyfy-font-size-scalar:1.1667;
$tyfy-font-base:$tyfy-sans;
$tyfy-font-heading:$tyfy-sans;
$tyfy-font-pullquote:$tyfy-sans;
$tyfy-font-table:$tyfy-sans;
$tyfy-color-link-default:darken($red,10%);
$tyfy-color-link-active:darken($green,10%);